@use '~assets/sass/abstracts';

.image,
.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    position: relative;
    gap: 8px;
    padding: 10px 4px;
    align-self: center;

    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    font-family: var(--ff);
    color: var(--nav-link-text-color);

    transition: color 0.2s ease-in-out;

    @include abstracts.screen(md) {
        font-size: calc(1.6rem + 1vw);
    }

    &:hover,
    &.active {
        color: var(--nav-link-text-active-color);

        .icon {
            filter: var(--nav-link-icon-active-color);
        }

        &::after {
            width: 100%;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0%;
        height: 4px;
        background: var(--nav-link-text-active-color);
        border-radius: 999px;

        transition: 0.4s linear;
        transition-property: width;

        @include abstracts.screen(md) {
            content: none;
        }
    }
}

.image {
    width: 18px;
    padding-bottom: 3px;
}

.icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: var(--header-icon-color);
}
