@use '~assets/sass/abstracts';

.discover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    padding: 0 0 0 20px;
    width: 100%;
    min-height: calc(100dvh - var(--header-height) * 2);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @include abstracts.screen(md) {
        margin-top: 60px;
        height: auto;
    }

    @include abstracts.screen(sm) {
        margin-top: 30px;
    }

    &__title {
        font-family: var(--ff);
        color: var(--text-color);
        font-size: 5rem;
        font-weight: 700;
        line-height: 150%;

        @include abstracts.screen(md) {
            font-size: 4rem;
        }

        &--animation {
            margin-top: 40px;
            font-weight: 500;
            letter-spacing: 0.5rem;
            text-transform: uppercase;
        }
    }

    &__text {
        color: var(--text-color);
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 150%;

        margin-top: 20px;

        @include abstracts.screen(md) {
            font-size: 2rem;
        }
        @include abstracts.screen(xs) {
            font-size: 1.6rem;
        }
    }

    &__image-wrapper {
        position: relative;

        margin-left: auto;
        width: 100%;
        max-width: 100%;
        height: 0;
        padding-bottom: 62.5%;
        background-color: transparent;

        @include abstracts.screen(md) {
            margin-right: auto;
        }
    }

    &__img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
    }
}
